<div class="navbar fixed-bottom">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 text-muted">© 2020. All Right Reserved.</div>
    </div>
  </div>
</div>

<%# 
<footer class="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 text-muted">© 2020 - Bolt Interactive</div>
    </div>

  </div>
</footer> %>

<%# <footer class="footer">
  <div class="container">
    <div class="row text-center">

      <span class="text-muted">© 2020 - Bolt Interactive</span>
    </div>

  </div>
</footer> %>